<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>
    <script type="text/javascript">
        $(document).ready(function() {
            //radio버튼처럼 checkbox name값 설정
            $("#row4").hide();
            $("#id_row").hide();
            $("#btn_trans").hide();
            $("#btn_trans2").hide();
            $('input[type="radio"][id="radio3Yes"]').click(function(){
                //click 이벤트가 발생했는지 체크
                $("#row3").show();
                $("#row4").hide();
                $("#id_row").hide();
                $("#btn_sale").show();
                $("#btn_trans").hide();
                $("#btn_trans2").hide();
                $("#refund_type").val("post");
            });
            $('input[type="radio"][id="radio3No"]').click(function(){
                //click 이벤트가 발생했는지 체크
                $("#refund_type").val("instant");
                $("#row4").hide();
                $("#id_row").show();
                $("#btn_trans").show();
                $("#btn_trans2").show();
                $("#btn_sale").hide();
            });
            $("#btn_trans2").on("click",function(){
                $("#row3").show();
            });
            $("#sel_proList").change(function () {
                getBody( $("#sel_proList  option:selected").val(),1);
            })
            $("#sel_proList2").change(function () {
                getBody( $("#sel_proList2 option:selected").val(),2);
            })
            $("#sel_proList3").change(function () {
                getBody( $("#sel_proList3 option:selected").val(),3);
            })
            $("#sel_proList4").change(function () {
                getBody( $("#sel_proList4 option:selected").val(),4);
            })
            $(function() {
                $('#cnt').keyup(function (e){
                    var cnt = ($(this).val());
                    var price = ($("#uprice").val());
                    var vat = ($("#uvat").val());
                    price = (cnt*price);
                    vat = (cnt*vat);
                    $("#price").text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $("#vat").text(vat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    sum();
                });
                $('#cnt').keyup();
            });
            $(function() {
                $('#cnt2').keyup(function (e){
                    var cnt = $(this).val();
                    var price = $("#uprice2").val();
                    var vat = $("#uvat2").val();
                    price = (cnt*price);
                    vat = (cnt*vat);
                    $("#price2").text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $("#vat2").text(vat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    sum();
                });
                $('#cnt2').keyup();
            });
            $(function() {
                $('#cnt3').keyup(function (e){
                    var cnt = $(this).val();
                    var price = $("#uprice3").val();
                    var vat = $("#uvat3").val();
                    price = (cnt*price);
                    vat = (cnt*vat);
                    $("#price3").text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $("#vat3").text(vat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    sum();
                });
                $('#cnt3').keyup();
            });
            $(function() {
                $('#cnt4').keyup(function (e){
                    var cnt = $(this).val();
                    var price = $("#uprice4").val();
                    var vat = $("#uvat4").val();
                    price = (cnt*price);
                    vat = (cnt*vat);
                    $("#price4").text(price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    $("#vat4").text(vat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                    sum();
                });
                $('#cnt4').keyup();
            });
            getList();
            proSel();

        });
        function getTimeStamp() {
            // var d = new Date();
            //
            // var s =
            //     leadingZeros(d.getFullYear(), 4) + '-' +
            //     leadingZeros(d.getMonth() + 1, 2) + '-' +
            //     leadingZeros(d.getDate(), 2) + ' ' +
            //
            //     leadingZeros(d.getHours(), 2) + ':' +
            //     leadingZeros(d.getMinutes(), 2) + ':' +
            //     leadingZeros(d.getSeconds(), 2);
            //
            // return s;
            var xmlHttp;
            //분기하지 않으면 IE에서만 작동된다.
            if (window.XMLHttpRequest) { // IE 7.0 이상, 크롬, 파이어폭스일 경우 분기
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open('HEAD',window.location.href.toString(),false);
                xmlHttp.setRequestHeader("Content-Type", "text/html");
                xmlHttp.send('');
            }else if (window.ActiveXObject) {
                xmlHttp = new ActiveXObject('Msxml2.XMLHTTP');
                xmlHttp.open('HEAD',window.location.href.toString(),false);
                xmlHttp.setRequestHeader("Content-Type", "text/html");
                xmlHttp.send('');
            }
            var st = xmlHttp.getResponseHeader("Date");
            var curDate = new Date(st);
            var curDateFmt; var year = curDate.getFullYear();
            var month = curDate.getMonth()+1;
            var day = curDate.getDate();
            var hours = curDate.getHours();
            var minutes = curDate.getMinutes();
            var second = curDate.getSeconds();
            if(parseInt(month) < 10){
                month = 0 + "" + month;
            }
            if(parseInt(day) < 10){
                day = 0 + "" + day;
            }
            if(parseInt(hours) < 10){
                hours = 0 + "" + hours;
            } if(parseInt(minutes) < 10){
                minutes = 0 + "" + minutes;
            }if(parseInt(second) < 10){
                second = 0 + "" + second;
            }

            curDateFmt = (year + "-" + month + "-" + day + " " + hours + ":" + minutes +":" + second);
            return curDateFmt;
        }
        function leadingZeros(n, digits) {
            var zero = '';
            n = n.toString();

            if (n.length < digits) {
                for (i = 0; i < digits - n.length; i++)
                    zero += '0';
            }
            return zero + n;
        }
        var getList = function(val){
            $("#sel_dataList").empty();
            var data = {

            };
            $.ajax({
                url:"/pos/select_pos_pos",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;

                    if(list.length ==0){
                        /*var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#sel_dataList").append(tr);
                        $(".page_list").empty();*/
                    }else{
                        var itemHTMLAddr = '' ;
                        itemHTMLAddr = itemHTMLAddr +
                            '  <select id= "sel_pos" name="sel_pos" >' +
                            '<option value="">가맹점 선택 필수</option>' ;
                        $.each(list , function(idx,item){
                            itemHTMLAddr = itemHTMLAddr +
                                '<option value="'+item.store_id+'">'+item.store_name+'</option>' ;

                        });
                        itemHTMLAddr = itemHTMLAddr +'</select>'
                        $("#sel_dataList").append(itemHTMLAddr);
                    }
                }
            });
        }
        var proSel = function(val){
            $("#sel_proList").empty();
            $("#sel_proList2").empty();
            $("#sel_proList3").empty();
            $("#sel_proList4").empty();
            var data = {

            };
            $.ajax({
                url:"/product/productList",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;

                    if(list.length ==0){
                        /*var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#sel_dataList").append(tr);
                        $(".page_list").empty();*/
                    }else{
                        var itemHTMLAddr = '' ;
                        var itemHTMLAddr2 = '' ;
                        var itemHTMLAddr3 = '' ;
                        var itemHTMLAddr4 = '' ;
                        itemHTMLAddr = itemHTMLAddr +
                            ' <select style="width:50%;"id="sel_pro" name="sel_pro">' +
                            ' <option value="">상품1 필수선택 </option>';
                        itemHTMLAddr2 = itemHTMLAddr2 +
                            ' <select style="width:50%;"id="sel_pro2" name="sel_pro2">' +
                            ' <option value="">상품1 필수선택 </option>';
                        itemHTMLAddr3 = itemHTMLAddr3 +
                            ' <select style="width:50%;"id="sel_pro3" name="sel_pro3">' +
                            ' <option value="">상품1 필수선택 </option>';
                        itemHTMLAddr4 = itemHTMLAddr4 +
                            ' <select  style="width:50%;"id="sel_pro4" name="sel_pro4">' +
                            ' <option value="">상품1 필수선택 </option>';

                        $.each(list , function(idx,item){
                            itemHTMLAddr = itemHTMLAddr +
                                '<option value="'+item.IneNo+'">'+item.prodNm+'</option>' ;
                            itemHTMLAddr2 = itemHTMLAddr2 +
                                '<option value="'+item.IneNo+'">'+item.prodNm+'</option>' ;
                            itemHTMLAddr3 = itemHTMLAddr3 +
                                '<option value="'+item.IneNo+'">'+item.prodNm+'</option>' ;
                            itemHTMLAddr4 = itemHTMLAddr4 +
                                '<option value="'+item.IneNo+'">'+item.prodNm+'</option>' ;

                        });
                        itemHTMLAddr = itemHTMLAddr +'</select>'
                        itemHTMLAddr2 = itemHTMLAddr2 +'</select>'
                        itemHTMLAddr3 = itemHTMLAddr3 +'</select>'
                        itemHTMLAddr4 = itemHTMLAddr4 +'</select>'
                        $("#sel_proList").append(itemHTMLAddr);
                        $("#sel_proList2").append(itemHTMLAddr2);
                        $("#sel_proList3").append(itemHTMLAddr3);
                        $("#sel_proList4").append(itemHTMLAddr4);
                    }
                }
            });
        }
        var getBody = function (val ,form) {
            var data = {
                "IneNo" : val
            };
            $.ajax({
                url:"/product/productList_one",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;

                    if(list.length ==0){
                        if(form == 1){
                            $("#price").text(0);
                            $("#vat").text(0);
                            $("#uprice").val(0);
                            $("#uvat").val(0);
                            $("#upronm").val(0);
                            $("#prdCode").val("");
                            $("#indIct").val(0);
                            $("#indEdut").val(0);
                            $("#indStr").val(0);
                            $("#cnt").val(0);
                        }else if(form == 2){
                            $("#price2").text(0);
                            $("#vat2").text(0);
                            $("#uprice2").val(0);
                            $("#uvat2").val(0);
                            $("#upronm2").val(0);
                            $("#prdCode2").val("");
                            $("#indIct2").val(0);
                            $("#indEdut2").val(0);
                            $("#indStr2").val(0);
                            $("#cnt2").val(0);
                        }else if(form == 3){
                            $("#price3").text(0);
                            $("#vat3").text(0);
                            $("#uprice3").val(0);
                            $("#uvat3").val(0);
                            $("#upronm3").val(0);
                            $("#prdCode3").val("");
                            $("#indIct3").val(0);
                            $("#indEdut3").val(0);
                            $("#indStr3").val(0);
                            $("#cnt3").val(0);
                        }else if(form == 4){
                            $("#price4").text(0);
                            $("#vat4").text(0);
                            $("#uprice4").val(0);
                            $("#uvat4").val(0);
                            $("#upronm4").val(0);
                            $("#prdCode4").val("");
                            $("#indIct4").val(0);
                            $("#indEdut4").val(0);
                            $("#indStr4").val(0);
                            $("#cnt4").val(0);
                        }
                        sum();
                    }else{
                        $.each(list , function(idx,item){
                            if(form == 1){
                                $("#price").text(item.indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#vat").text(item.indVat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#uprice").val(item.indPrice);
                                $("#uvat").val(item.indVat);
                                $("#upronm").val(item.prodNm);
                                $("#prdCode").val(item.prdCode);
                                $("#indIct").val(item.indIct);
                                $("#indEdut").val(item.indEdut);
                                $("#indStr").val(item.indStr);
                                $("#cnt").val(1);
                            }else if(form == 2){
                                $("#price2").text(item.indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#vat2").text(item.indVat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#uprice2").val(item.indPrice);
                                $("#uvat2").val(item.indVat);
                                $("#upronm2").val(item.prodNm);
                                $("#prdCode2").val(item.prdCode);
                                $("#indIct2").val(item.indIct);
                                $("#indEdut2").val(item.indEdut);
                                $("#indStr2").val(item.indStr);
                                $("#cnt2").val(1);
                            }else if(form == 3){
                                $("#price3").text(item.indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#vat3").text(item.indVat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#uprice3").val(item.indPrice);
                                $("#uvat3").val(item.indVat);
                                $("#upronm3").val(item.prodNm);
                                $("#prdCode3").val(item.prdCode);
                                $("#indIct3").val(item.indIct);
                                $("#indEdut3").val(item.indEdut);
                                $("#indStr3").val(item.indStr);
                                $("#cnt3").val(1);
                            }else if(form == 4){
                                $("#price4").text(item.indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#vat4").text(item.indVat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
                                $("#uprice4").val(item.indPrice);
                                $("#uvat4").val(item.indVat);
                                $("#upronm4").val(item.prodNm);
                                $("#prdCode4").val(item.prdCode);
                                $("#indIct4").val(item.indIct);
                                $("#indEdut4").val(item.indEdut);
                                $("#indStr4").val(item.indStr);
                                $("#cnt4").val(1);
                            }
                            sum();
                        });
                    }
                }
            });
        }
        var sum = function(){
            var cnt = ($("#cnt").val());
            var price = ($("#uprice").val());
            var vat = ($("#uvat").val());
            var cnt2 = ($("#cnt2").val());
            var price2 = ($("#uprice2").val());
            var vat2 = ($("#uvat2").val());
            var cnt3 = ($("#cnt3").val());
            var price3 = ($("#uprice3").val());
            var vat3 = ($("#uvat3").val());
            var cnt4 = ($("#cnt4").val());
            var price4 = ($("#uprice4").val());
            var vat4 = ($("#uvat4").val());

            var psum = (cnt * price)+ (cnt2 * price2)+(cnt3 * price3)+(cnt4 * price4)
            var tsum = (cnt * vat)+ (cnt2 * vat2)+(cnt3 * vat3)+(cnt4 * vat4)
            var totcnt = parseInt(cnt)+parseInt(cnt2) +parseInt(cnt3)+parseInt(cnt4);
            $("#sumprice").text(psum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $("#sumvat").text(tsum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
            $("#upsum").val(psum)
            $("#utotT").text(totcnt)
            $("#usvat").val(tsum)
            $("#utot").val(totcnt)
        }
        var sale = function () {
            if( $("#sel_pos option:selected").val()==""){
                swal("가맹점을 선택하세요", {
                    icon: "error"
                })
            }else{
                insertSale();
            }

        }
        var sale2 = function () {
            if( $("#sel_pos option:selected").val()==""){
                swal("가맹점을 선택하세요", {
                    icon: "error"
                })
            }else{
                insertSale3();
            }

        }
        var trans2 = function () {
            if( $("#sel_pos option:selected").val()==""){
                swal("가맹점을 선택하세요", {
                    icon: "error"
                })
            }else if($("#user_id").val()==""){
                swal("고객 아이디를 확인해주세요", {
                    icon: "error"
                })
            }else{
                insertSale2();
            }

        }
        var insertSale = function () {
            $("#saleForm").ajaxForm({
                type: "POST",
                dataType: "json",
                //보내기전 validation check가 필요할경우
                beforeSubmit : function (data, frm, opt) {
                    //alert("전송전!!");
                    return true;
                },
                //submit이후의 처리
                success : function (data, statusText) {
                    if(data.result=="success"){
                        $("#btn_sale").hide();
                        $("#btn_sale2").hide();
                        $("#btn_trans").show();
                        $("#btn_trans2").hide();
                        $("#purchsSn").text(data.purchsSn);
                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            $("#row4").show();
                        });
                    }else if (data.result=="200"){
                        alert("err");
                    }
                },
                //ajax error
                error : function () {
                    swal(
                        '예외발생',
                        '관리자에게 문의하세요',
                        'error');
                }
            });
            $("#saleForm").attr("action", "/transaction/insertTransaction");
            $("#saleForm").submit();
        }
        var insertSale2 = function () {
            //즉시환급

            $("#sDate_1").val(getTimeStamp());
            $("#saleForm").ajaxForm({
                type: "POST",
                dataType: "json",
                //보내기전 validation check가 필요할경우
                beforeSubmit : function (data, frm, opt) {
                    //alert("전송전!!");
                    return true;
                },
                //submit이후의 처리
                success : function (data, statusText) {
                    if(data.result=="success"){
                        $("#btn_sale").hide();
                        $("#btn_sale2").show();
                        $("#btn_trans").hide();
                        $("#btn_trans2").hide();
                        $("#customer_id_row").hide();
                        $("#tx_status").val("1");
                        $("#purchsSn").text(data.transaction.body.purchsSn);
                        $("#purchsSn_1").val(data.transaction.body.purchsSn);
                        $("#tx_id").val(data.transaction.header.reference_id);
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#sDate").text(data.nDate);
                        $("#pDate_1").val(data.pDate);
                        $("#tDate_1").val(data.tDate);
                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            $("#row4").show();
                        });
                    }else if(data.result=="limitExcess"){
                        $("#btn_sale").hide();
                        $("#btn_sale2").show();
                        $("#btn_trans").hide();
                        $("#btn_trans2").hide();
                        $("#customer_id_row").hide();
                        $("#tx_status").val("0");
                        $("#purchsSn").text(data.transaction.body.purchsSn);
                        $("#purchsSn_1").val(data.transaction.body.purchsSn);
                        $("#tx_id").val(data.transaction.header.reference_id);
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#pDate_1").val(data.pDate);
                        $("#tDate_1").val(data.tDate);
                        $("#tx_status").val("0");
                        swal("환급 한도 초과", {
                            icon: "error"
                        }).then((value) =>{
                            // location.href = "/"
                            $("#row4").show();
                        });
                    }else if(data.result=="minLimitExcess"){
                        $("#btn_sale").hide();
                        $("#btn_sale2").show();
                        $("#btn_trans").hide();
                        $("#btn_trans2").hide();
                        $("#customer_id_row").hide();
                        $("#tx_status").val("0");
                        $("#purchsSn").text(data.transaction.body.purchsSn);
                        $("#purchsSn_1").val(data.transaction.body.purchsSn);
                        $("#tx_id").val(data.transaction.header.reference_id);
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#pDate_1").val(data.pDate);
                        $("#tDate_1").val(data.tDate);
                        $("#tx_status").val("0");
                        swal("최소 환급 가능 금액이 미달 되었습니다", {
                            icon: "error"
                        }).then((value) =>{
                            // location.href = "/"
                            $("#row4").show();
                        });
                    }else{
                        swal("환급전표 발행 실패", {
                            icon: "error"
                        })
                    }
                },
                //ajax error
                error : function () {
                    swal(
                        '예외발생',
                        '관리자에게 문의하세요',
                        'error');
                }
            });
            $("#saleForm").attr("action", "/transaction/insertTransaction2");
            $("#saleForm").submit();
        }
        var insertSale3 = function () {
            //즉시환급 판매
            $("#saleForm").ajaxForm({
                type: "POST",
                dataType: "json",
                //보내기전 validation check가 필요할경우
                beforeSubmit : function (data, frm, opt) {
                    //alert("전송전!!");
                    return true;
                },
                //submit이후의 처리
                success : function (data, statusText) {
                    if(data.result=="success"){
                        $("#btn_sale").hide();
                        $("#btn_sale2").hide();
                        $("#btn_trans").hide();
                        $("#btn_trans2").hide();
                        $("#customer_id_row").hide();

                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            $("#row4").show();
                        });
                    }else if (data.result=="200"){
                        alert("err");
                    }
                },
                //ajax error
                error : function () {
                    swal(
                        '예외발생',
                        '관리자에게 문의하세요',
                        'error');
                }
            });
            $("#saleForm").attr("action", "/transaction/insertTransaction3");
            $("#saleForm").submit();
        }
        var trans = function () {

            if( $("#customer_id").val()==""){
                swal("고객 아이디를 확인해주세요", {
                    icon: "error"
                })
            }else{
                goTx();
            }

        }
        var goTx = function(){
            var data = {
                "purchsSn" : $("#purchsSn").text(),
                "store_id" : $("#sel_pos option:selected").val(),
                "customer_id" : $("#customer_id").val()
            };

            $.ajax({
                url:"/pos/pending",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(data,s,j ){
                    if(data.result=="success"){
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#sDate").text(data.nDate);
                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            // location.href = "/"
                        });
                    }else if(data.result=="limitExcess"){
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#sDate").text(data.nDate);
                        swal("환급 한도 초과", {
                            icon: "error"
                        }).then((value) =>{
                            // location.href = "/"
                        });
                    }else if(data.result=="minLimitExcess"){
                        $("#pDate").text(data.pDate);
                        $("#tDate").text(data.tDate);
                        $("#sDate").text(data.nDate);
                        swal("최소 환급 가능 금액이 미달 되었습니다.", {
                            icon: "error"
                        }).then((value) =>{
                            // location.href = "/"
                        });
                    }else{
                        swal("환급전표 발행 실패", {
                            icon: "error"
                        })
                    }
                }
            });
        }

    </script>
</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
    <nav class="navbar navbar-dark navbar-expand-md bg-primary">
        <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <form  id="saleForm" name="saleForm" action="" method="post" >
        <input id="refund_type" name="refund_type" type="hidden" value="post"/>
        <input id="tx_status" name="tx_status" type="hidden" value="1"/>
        <input id="purchsSn_1" name="purchsSn_1" type="hidden" value=""/>
        <input id="sDate_1" name="sDate_1" type="hidden" value=""/>
        <input id="pDate_1" name="pDate_1" type="hidden" value=""/>
        <input id="tDate_1" name="tDate_1" type="hidden" value=""/>
        <input id="tx_id" name="tx_id" type="hidden" value=""/>
        <input id="uprice" name="uprice" type="hidden" value="0"/>
        <input id="uvat" name="uvat" type="hidden" value="0"/>
        <input id="uprice2" name="uprice2" type="hidden" value="0"/>
        <input id="uvat2" name="uvat2" type="hidden" value="0"/>
        <input id="uprice3" name="uprice3" type="hidden" value="0"/>
        <input id="uprice4" name="uprice4" type="hidden" value="0"/>
        <input id="uvat3" name="uvat3" type="hidden" value="0"/>
        <input id="uvat4" name="uvat4" type="hidden" value="0"/>
        <input id="upsum" name="upsum" type="hidden" value="0"/>
        <input id="usvat" name="usvat" type="hidden" value="0"/>
        <input id="utot" name="utot" type="hidden" value="0"/>
        <input id="upronm" name="upronm" type="hidden" value=""/>
        <input id="upronm2" name="upronm2" type="hidden" value=""/>
        <input id="upronm3" name="upronm3" type="hidden" value=""/>
        <input id="upronm4" name="upronm4" type="hidden" value=""/>
        <input id="prdCode" name="prdCode" type="hidden" value=""/>
        <input id="prdCode2" name="prdCode2" type="hidden" value=""/>
        <input id="prdCode3" name="prdCode3" type="hidden" value=""/>
        <input id="prdCode4" name="prdCode4" type="hidden" value=""/>
        <input id="indIct" name="indIct" type="hidden" value=""/>
        <input id="indIct2" name="indIct2" type="hidden" value=""/>
        <input id="indIct3" name="indIct3" type="hidden" value=""/>
        <input id="indIct4" name="indIct4" type="hidden" value=""/>
        <input id="indEdut" name="indEdut" type="hidden" value=""/>
        <input id="indEdut2" name="indEdut2" type="hidden" value=""/>
        <input id="indEdut3" name="indEdut3" type="hidden" value=""/>
        <input id="indEdut4" name="indEdut4" type="hidden" value=""/>
        <input id="indStr" name="indStr" type="hidden" value=""/>
        <input id="indStr2" name="indStr2" type="hidden" value=""/>
        <input id="indStr3" name="indStr3" type="hidden" value=""/>
        <input id="indStr4" name="indStr4" type="hidden" value=""/>
    <div class="container-fluid" style="margin:10px 0px ;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">POS / 환급신청</h5>
            </div>
            <div class="card-body">
                <p class="card-text">가맹점 상품판매 및 즉시/사후 환급 신청</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3"id="sel_dataList"><select><option value="12" selected="">가맹점 선택 필수</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div>
                    <div class="col-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="radio3" id="radio3Yes" type="radio"value="yes" checked="checked" id="formCheck-2"><label class="form-check-label" for="formCheck-2">&nbsp;사후환급</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  value="no" name="radio3" id="radio3No" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1">즉시환급</label>
                        </div>
                    </div>
                    <div  class="col-3" id="id_row" >
                         <input id ="user_id"name="user_id" type="number" placeholder="바코드(고유아이디)" style="margin:0px 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin:10px 0px;">
        <div class="table-responsive table-bordered">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="table-active" style="width:25%;">상품</th>
                        <th class="table-active" style="width:25%;">수량</th>
                        <th class="table-active" style="width:25%;">판매금액</th>
                        <th class="table-active" style="width:25%;">부가세</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><div id="sel_proList"><select style="width:50%;"><option value="12" selected="">상품선택</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div></td>
                        <td><input id="cnt" name="cnt"value="0"type="text" style="width:50%;"></td>
                        <td><span id="price">0</span></td>
                        <td><span id="vat">0</span></td>
                    </tr>
                    <tr>
                        <td><div id="sel_proList2"><select style="width:50%;"><option value="12" selected="">상품선택</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div></td>
                        <td><input id="cnt2" name="cnt2"value="0"type="text" style="width:50%;"></td>
                        <td><span id="price2">0</span></td>
                        <td><span id="vat2">0</span></td>
                    </tr>
                    <tr>
                        <td><div id="sel_proList3"><select style="width:50%;"><option value="12" selected="">상품선택</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div></td>
                        <td><input id="cnt3" name="cnt3"value="0"type="text" style="width:50%;"></td>
                        <td><span id="price3">0</span></td>
                        <td><span id="vat3">0</span></td>
                    </tr>
                    <tr>
                        <td><div id="sel_proList4"><select style="width:50%;"><option value="12" selected="">상품선택</option><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div></td>
                        <td><input id="cnt4" name="cnt4"value="0"type="text" style="width:50%;"></td>
                        <td><span id="price4">0</span></td>
                        <td><span id="vat4">0</span></td>
                    </tr>
                    <tr>
                        <td class="table-primary">
                            <a class="btn btn-primary btn-sm" id="btn_sale" href="javascript:sale();">판매</a>
                            <a class="btn btn-primary btn-sm" id="btn_trans2" href="javascript:trans2();">환급 전표 발행</a>
                        </td>

                        <td class="table-primary"><span id="utotT">0</span></td></td>
                        <td class="table-primary"> <span id="sumprice">0</span></td>
                        <td class="table-primary">  <span id="sumvat">0</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid"  id="row4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">판매일련 번호 :&nbsp; <span id="purchsSn">0</span></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div id="customer_id_row">  <input id ="customer_id"type="number" placeholder="바코드(고유아이디)" style="margin:0px 10px;"></div>
                        <a class="btn btn-danger btn-sm" id="btn_sale2" href="javascript:sale2();">판매</a>
                        <a class="btn btn-danger btn-sm" id="btn_trans" href="javascript:trans();">환급 전표 발행</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">환급전표 요청 시간 :</p><div id = "sDate"></div>
                        <p class="card-text">요청대기 시간 :</p><div id="pDate"></div>
                        <p class="card-text">대상거래 시간 :</p><div id="tDate"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <% include ../inc/footer %>

</body>

</html>