<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>
    <script type="text/javascript">

        $(document).ready(function() {
            getList( $("#status").val());
        });
        function goPage(val) {
            getList(val);
        }
        function goDetail(val){
            var page = $('.on').text();
            $("#status").show()
            location.href = "/transaction/transaction_detail?no="+val;
        }

        var getList = function(val){
            $('#status').show();
            $("#status").val(val);
            $('#status').hide();
            $("#tbl_dataList").empty();
            var data = {
                "page":val
            };
            $.ajax({
                url:"/transaction/transactionList",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;
                    var page = val;
                    var row=result1.nowrow;
                    if(list.length ==0){
                        var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#tbl_dataList").append(tr);
                        $(".page_list").empty();
                    }else{
                        var itemHTMLAddr = '' ;
                        var itemHTMLAddr2 = '' ;

                        $.each(list , function(idx,item){
                            var pro = JSON.parse(item.details);
                            var pro_nm ="";
                            var tax_date ="";
                            var tax_fin_date = "";
                            $.each(pro, function (idx, item) {
                                if(idx == 0){
                                    pro_nm = item.prodNm;
                                }
                            });
                            if(item.sal_tax_fin_date){
                                tax_fin_date = item.sal_tax_fin_date
                            }
                            if(item.tax_reg_date){
                                tax_date = item.tax_reg_date
                            }
                            if(item.sal_tax_type == 0){
                                item.sal_tax_type ="사후"
                            }else {
                                item.sal_tax_type ="즉시"
                            }
                            if(item.sal_tax_yn == 0){
                                item.sal_tax_yn ="X"
                            }else {
                                item.sal_tax_yn ="O"
                            }
                            itemHTMLAddr = itemHTMLAddr +
                                '<tr>' +
                                '    <td>'+((row-(15*(page-1)))-idx)+'</td>' +
                                '    <td>'+item.store_id+'</td>'+
                                '    <td><a href="javascript:goDetail('+item.row_id+')">'+item.purchsSn+'</a></td>' +
                                '    <td>'+pro_nm+'</td>'+
                                '    <td>'+item.totAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</td>'+
                                '    <td>'+item.sal_reg_date+'</td>'+
                                '    <td>'+item.sal_tax_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</td>'+
                                '    <td>'+item.sal_tax_type+'</td>'+
                                '    <td>'+item.sal_tax_yn+'</td>'+
                                '    <td>'+tax_date+'</td>'+
                                '</tr>';

                        });
                        $("#tbl_dataList").append(itemHTMLAddr);

                        var totalPages = Math.floor((row/15)+1) ;//전체 페이지
                        var visiblePages = 15;//리스트 보여줄 페이지
                        var startPage = val;//현재 페이지

                        $('#pagination').twbsPagination({
                            totalPages: totalPages,
                            visiblePages: visiblePages,
                            startPage: startPage,

                            onPageClick: function (event, page) {
                                getList(page);//보고 싶은 페이지
                            }
                        });
                    }
                }
            });
        }

    </script>
</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin:10px 0px ;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">구매 / 환급 요청 내역</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="margin:5px 0px 0px 0px;"><span>구매, 환급 요청 내역 리스트</span></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:10px 0px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="table-active" style="width:0;">No.</th>
                <th class="table-active" style="width:0;">가맹점명</th>
                <th class="table-active" style="width:0;">판매 일련번호</th>
                <th class="table-active" style="width:0;">물품명</th>
                <th class="table-active" style="width:0;">구매금액</th>
                <th class="table-active" style="width:0;">구매일시</th>
                <th class="table-active">환급 대상금액</th>
                <th class="table-active">환급구분</th>
                <th class="table-active">요청 여부</th>
                <th class="table-active">요청 일시</th>
            </tr>
            </thead>
            <tbody id="tbl_dataList">

            </tbody>
        </table>
    </div>
</div>
<nav style="margin:0px 0px 0px 30px;">
    <ul class="pagination pagination-sm" id="pagination">
        <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">2</a></li>
        <li class="page-item"><a class="page-link">3</a></li>
        <li class="page-item"><a class="page-link">4</a></li>
        <li class="page-item"><a class="page-link">5</a></li>
        <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>
<input id="status" name="status" type="text" value="1">
<% include ../inc/footer %>
</body>

</html>