<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>

</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin:10px 0px ;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">구매 / 환급 요청 상세 내역</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" style="margin:5px 0px 0px 0px;"><span>구매, 환급 요청 내역 리스트</span></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin:10px 0px;">
    <div class="table-responsive table-bordered">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="table-active" style="width:0;">No.</th>
                <th class="table-active" style="width:0;">가맹점명</th>
                <th class="table-active" style="width:0;">판매 일련번호</th>
                <th class="table-active" style="width:0;">물품명</th>
                <th class="table-active" style="width:0;">구매금액</th>
                <th class="table-active" style="width:0;">구매일시</th>
                <th class="table-active">환급 대상금액</th>
                <th class="table-active">환급구분</th>
                <th class="table-active">요청 여부</th>
                <th class="table-active">요청 일시</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0;i<rows.length;i++){%>
            <tr>

                <td>
                    <%=rows[i].row_id%>
                </td>
                <td>
                    <%=rows[i].store_name%>
                </td>
                <td>
                    <%=rows[i].purchsSn%>
                </td>
                <td>
                    <%rows[i].details = JSON.parse(rows[i].details);%>
                    <% for(var y=0;y<rows[i].details.length;y++){%>
                    <%if(y==0){%>
                    <%-rows[i].details[y].prodNm%>
                    <%}%>
                    <%}%>
                </td>
                <td>
                    <%=rows[i].totAmt.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                </td>
                <td>
                    <%=rows[i].sal_reg_date%>
                </td>
                <td>
                    <%=rows[i].sal_tax_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                </td>
                <td>
                    <%if(rows[i].sal_tax_type==0){%>
                    사후
                    <%}else{%>
                    즉시
                    <%}%>
                </td>
                <td>
                    <%if(rows[i].sal_tax_yn==0){%>
                    X
                    <%}else{%>
                    O
                    <%}%>
                </td>
                <td>
                    <%if(rows[i].sal_tax_reg_date2){%>
                    <%-rows[i].sal_tax_reg_date2%>
                    <%}else{%>
                    -
                    <%}%>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid" style="margin:10px 0px;">
    <p>구매정보 / 물품내역</p>
    <div class="table-responsive table-bordered">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="table-active" style="width:0;">상품명</th>
                <th class="table-active" style="width:0;">수량</th>
                <th class="table-active" style="width:0;">단가</th>
                <th class="table-active" style="width:0;">판매금액</th>
                <th class="table-active" style="width:0;">부가가치세</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i=0;i<rows.length;i++){%>
            <% for(var y=0;y<rows[i].details.length;y++){%>
            <tr>
                <td><%-rows[i].details[y].prodNm%></td>
                <td><%-rows[i].details[y].indQty%></td>
                <td><%-rows[i].details[y].indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                <td><%-rows[i].details[y].salePrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                <td><%=((rows[i].details[y].indPrice/10)*rows[i].details[y].indQty).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
            </tr>
            <%}%>
            <%}%>
            </tbody>
        </table>
    </div>
</div>
<div class="container-fluid" style="margin:10px 0px;">
    <p>환급정보</p>
    <div class="table-responsive table-bordered">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="table-active" style="width:0;">고객 아이디</th>
                <th class="table-active" style="width:0;">환급사 아이디</th>
                <th class="table-active" style="width:0;">가맹점 아이디</th>
                <th class="table-active" style="width:0;">환급전표 요청일시</th>
                <th class="table-active" style="width:0;">환급사 거래일련번호</th>
                <th class="table-active">환급구분</th>
            </tr>
            </thead>
            <tbody>
            <%if(result[0] != 'n'){%>
                <tr>
                    <td><%=(result[0].customer_id)%></td>
                    <td><%=result[0].taxRefunder_id%></td>
                    <td><%=(result[0].store_id)%></td>
                    <td><%=(result[0].tx_created)%></td>
                    <td></td>
                    <%if(result[0].refund_type=='post'){%>
                    <td>사후환급</td>
                    <%}else {%>
                    <td>즉시환급</td>
                    <%}%>
                </tr>
            <%}else{%>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</div>
<% include ../inc/footer %>


</body>

</html>