<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $('#price').keyup(function (e){
                    var content = $(this).val();
                    var vat = (content/100)*10
                    $("#vat").val(vat);
                });

                $('#price').keyup();
            });
            $("#vat").attr("disabled",true);
            // $("#vat").prop("readOnly",true);
            getList( $("#status").val());
        });
        var cancle = function () {
            if($("#title").val() !=""||$("#content").val() !="") {
                swal({
                    title: "확인",
                    text: "편집을 취소하시겠습니까?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) =>{
                        if(willDelete) {
                            window.history.back();
                        } else {

                        }
                    }
                );

            } else{
                window.history.back();
            }
        }
        var save = function () {
            var pronm = $("#pronm").val();
            var price = $("#price").val();

            if(pronm==""||price==""){
                alert("작성을 완료해주세요")
            }else{
                insertProduct();
            }
        }

        var insertProduct = function(){
            $("#vat").attr("disabled",false);
            $("#productForm").ajaxForm({
                type: "POST",
                dataType: "json",
                //보내기전 validation check가 필요할경우
                beforeSubmit : function (data, frm, opt) {
                    //alert("전송전!!");
                    return true;
                },
                //submit이후의 처리
                success : function (data, statusText) {
                    if(data.result=="success"){
                        $("#vat").attr("disabled",true);
                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            location.href = "/product"
                        });
                    }else if (data.result=="200"){
                        $("#vat").attr("disabled",true);
                        alert("err");
                    }
                },
                //ajax error
                error : function () {
                    swal(
                        '예외발생',
                        '관리자에게 문의하세요',
                        'error');
                }
            });
            $("#productForm").attr("action", "/product/insertProduct");
            $("#productForm").submit();
        }
        var getList = function(val){
            $('#status').show();
            $("#status").val(val);
            $('#status').hide();
            $("#tbl_dataList").empty();
            var data = {
                "page":val
            };
            $.ajax({
                url:"/product/productList",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;
                    var page = val;
                    var row=result1.nowrow;
                    if(list.length ==0){
                        var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#tbl_dataList").append(tr);
                        $(".page_list").empty();
                    }else{
                        var itemHTMLAddr = '' ;
                        var itemHTMLAddr2 = '' ;

                        $.each(list , function(idx,item){

                            itemHTMLAddr = itemHTMLAddr +
                                '<tr>' +
                                '    <td>'+((row-(15*(page-1)))-idx)+'</td>' +
                                '    <td>'+item.prodNm+'</td>' +
                                '    <td>'+item.indPrice.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</td>'+
                                '    <td>'+item.indVat.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")+'</td>'+
                                '    <td>'+item.registered_date+'</td>'+
                                '    <td><a href="javascript:dele('+item.row_id+')">삭제</a></td>' +
                                '</tr>';

                        });
                        $("#tbl_dataList").append(itemHTMLAddr);

                        var totalPages = Math.floor((row/15)+1) ;//전체 페이지
                        var visiblePages = 15;//리스트 보여줄 페이지
                        var startPage = val;//현재 페이지

                        $('#pagination').twbsPagination({
                            totalPages: totalPages,
                            visiblePages: visiblePages,
                            startPage: startPage,

                            onPageClick: function (event, page) {
                                getList(page);//보고 싶은 페이지
                            }
                        });
                    }
                }
            });
        }
        function dele(no) {
            swal({
                title: "확인",
                text: "삭제 하시겠습니까?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) =>{
                    if(willDelete) {
                        deleteProduct(no);
                    } else {

                    }
                }
            );

        }
        var deleteProduct = function(no){
            var data = {
                "no" : no
            };
            $.ajax({
                url:"/product/deleteProduct",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    swal("삭제 성공", {
                        icon: "success"
                    }).then((value) =>{
                        // window.history.back();
                        location.href = "/product"
                    });
                }
            });
        }
    </script>
</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin:10px 0px ;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">상품정보</h5>
        </div>
        <form  id="productForm" name="productForm" action="" method="post" >
        <div class="card-body">
            <div class="row">
                <div class="col-3"><input id="pronm" name="pronm" type="text" placeholder="상품명 입력" style="width:100%;"></div>
                <div class="col-3"><input id="price" name="price" type="number" placeholder="상품 단가 입력" style="width:100%;"></div>
                <div class="col-3"><input  id="vat" name="vat" type="number"  placeholder="부가세 자동 계산" style="width:100%;"></div>
                <div class="col-3"><a class="btn btn-primary btn-sm" id="btn_save" href="javascript:save();">+ 상품 등록</a></div>
                <div class="col" style="margin:5px 0px 0px 0px;"><span>상품 일련번호 및 상품 관리코드 자동생성 / 개별소비세, 교육세, 농특세는 0원으로 자동 저장</span></div>
                <input id="procon" name="procon" type="hidden" class="form-control" disabled>
                <input id="proedu" name="proedu" type="hidden" class="form-control" disabled>
                <input id="prorular" name="prorular" type="hidden" class="form-control" disabled>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="container-fluid" style="margin:10px 0px;">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="table-active" style="width:5%;">No.</th>
                <th class="table-active" style="width:20%;">상품명</th>
                <th class="table-active" style="width:20%;">단가</th>
                <th class="table-active" style="width:20%;">부가세</th>
                <th class="table-active" style="width:20%;">등록일</th>
                <th class="table-active" style="width:15%;">편집</th>
            </tr>
            </thead>
            <tbody id="tbl_dataList">

            </tbody>
        </table>
    </div>
    <nav style="margin:0px 0px 0px 30px;">
        <ul class="pagination pagination-sm" id="pagination">
            <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>
            <li class="page-item"><a class="page-link">4</a></li>
            <li class="page-item"><a class="page-link">5</a></li>
            <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>
    <input id="status" name="status" type="text" value="1">

</div>
<% include ../inc/footer %>
</body>

</html>