<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#sel_dataList").change(function () {
                getBody(  $("#posSel").val());
            })

            getSel()
            getList( $("#status").val());
        });
        var getBody = function (val) {
            bodyEmpty();
            var data = {
                "row_id" : val
            };
            $.ajax({
                url:"/pos/select_sys_pos_one",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;

                    if(list.length ==0){
                        /*var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#sel_dataList").append(tr);
                        $(".page_list").empty();*/
                    }else{
                        $.each(list , function(idx,item){
                            $("#reg_date").text(item.reg_date);
                            $("#store_id").text(item.store_id);
                            $("#assign_num").val(item.assign_num);
                            $("#biz_num").val(item.biz_num);
                            $("#store_name").val(item.store_name);
                            $("#phone").val(item.phone);
                            $("#rep_name").val(item.rep_name);
                            $("#address").val(item.address);

                        });
                    }
                }
            });
        }


        function bodyEmpty() {
            $("#reg_id").empty()
            $("#sto_auth_id").empty()
            $("#assign_num").val("")
            $("#biz_num").val("")
        }
        var getSel = function(val){
            $("#sel_dataList").empty();
            var data = {

            };
            $.ajax({
                url:"/pos/select_sys_pos",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;

                    if(list.length ==0){
                        var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#sel_dataList").append(tr);
                        $(".page_list").empty();
                    }else{
                        var itemHTMLAddr = '' ;
                        itemHTMLAddr = itemHTMLAddr +
                            '  <select id="posSel">' ;
                        $.each(list , function(idx,item){
                            itemHTMLAddr = itemHTMLAddr +
                                '<option value="'+item.row_id+'">'+item.store_name+'</option>' ;

                        });
                        itemHTMLAddr = itemHTMLAddr +'</select>'
                        $("#sel_dataList").append(itemHTMLAddr);
                        getBody($("#posSel").val());
                    }
                }
            });
        }
        var save = function () {
            swal({
                title: "확인",
                text: "저장 하시겠습니까?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) =>{
                    if(willDelete) {
                        insertMerchant();
                    } else {

                    }
                }
            );
        }
        var insertMerchant = function(){
            $("#sel_dataList").empty();
            var data = {
                "store_id" :$("#store_id").text(),
                "assign_num" :$("#assign_num").val(),
                "biz_num" :$("#biz_num").val(),
                "store_name" :$("#store_name").val(),
                "phone" :$("#phone").val(),
                "rep_name" :$("#rep_name").val(),
                "add_ca_date" :$("#reg_date").text(),
                "address" :$("#address").val()

            };

            $.ajax({
                url:"/merchant/insertMerchant",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(data,s,j ){
                    if(data.result=="success"){
                        swal("저장 성공", {
                            icon: "success"
                        }).then((value) =>{
                            location.href = "/merchant"
                        });
                    }else{
                        swal("저장 실패", {
                            icon: "error"
                        })
                    }


                }
            });
        }
        var getList = function(val){
            $('#status').show();
            $("#status").val(val);
            $('#status').hide();
            $("#tbl_dataList").empty();
            var data = {
                "page":val
            };
            $.ajax({
                url:"/merchant/merchantList",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    var list = result1.rows;
                    var page = val;
                    var row=result1.nowrow;
                    if(list.length ==0){
                        var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                        $("#tbl_dataList").append(tr);
                        $(".page_list").empty();
                    }else{
                        var itemHTMLAddr = '' ;
                        var itemHTMLAddr2 = '' ;

                        $.each(list , function(idx,item){

                            itemHTMLAddr = itemHTMLAddr +
                                '<tr>' +
                                '    <td>'+((row-(15*(page-1)))-idx)+'</td>' +
                                '    <td>'+item.store_name+'</td>' +
                                '    <td>'+item.reg_date+'</td>'+
                                '    <td>'+item.ca_reg_date+'</td>'+
                                '    <td>'+item.store_id+'</td>'+
                                '    <td><a href="javascript:dele('+item.row_id+')">삭제</a></td>' +
                                '</tr>';

                        });
                        $("#tbl_dataList").append(itemHTMLAddr);

                        var totalPages = Math.floor((row/15)+1) ;//전체 페이지
                        var visiblePages = 15;//리스트 보여줄 페이지
                        var startPage = val;//현재 페이지

                        $('#pagination').twbsPagination({
                            totalPages: totalPages,
                            visiblePages: visiblePages,
                            startPage: startPage,

                            onPageClick: function (event, page) {
                                getList(page);//보고 싶은 페이지
                            }
                        });
                    }
                }
            });
        }
        function dele(no) {
            swal({
                title: "확인",
                text: "삭제 하시겠습니까?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) =>{
                    if(willDelete) {
                        deleteMerchant(no);
                    } else {

                    }
                }
            );
        }
        var deleteMerchant = function(no){
            var data = {
                "no" : no
            };
            $.ajax({
                url:"/merchant/deleteMerchant",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(result1,s,j ){
                    swal("삭제 성공", {
                        icon: "success"
                    }).then((value) =>{
                        //window.history.back();
                        location.href = "/merchant"
                    });
                }
            });
        }
    </script>
</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
    <nav class="navbar navbar-dark navbar-expand-md bg-primary">
        <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="margin:10px 0px ;">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">가맹점</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3" id = "sel_dataList">
                        <select id = "sel_dataList" style="width:80%;">
                            <option value="12" selected="">가맹점 선택</option><option value="13">This is item 2</option>
                            <option value="14">This is item 3</option>
                        </select>
                    </div>
                    <div class="col-6">등록일자(CA) : <span id ="reg_date">2018.08.10 13:18:40 </span>/ <span id ="store_id">서명 아이디 : 20000001</span></div>
                    <div class="col-3">
                        <a class="btn btn-primary btn-sm" id="btn_save"style="width:30%;" href="javascript:save();">+ 등록</a>
                    </div>
                    <input id="address" type="hidden" value=""/>
                    <input id="assign_num" type="hidden" value=""/>
                    <input id="biz_num" type="hidden" value=""/>
                    <input id="store_name" type="hidden" value=""/>
                    <input id="phone" type="hidden" value=""/>
                    <input id="rep_name" type="hidden" value=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin:10px 0px;">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-active" style="width:5%;">No.</th>
                        <th class="table-active" style="width:15%;">가맹점명</th>
                        <th class="table-active" style="width:25%;">등록일자(POS)</th>
                        <th class="table-active" style="width:25%;">등록일자(CA)</th>
                        <th class="table-active" style="width:15%;">서명아이디</th>
                        <th class="table-active" style="width:15%;">편집</th>
                    </tr>
                </thead>
                <tbody id="tbl_dataList">

                </tbody>
            </table>
        </div>
        <nav style="margin:0px 0px 0px 30px;">
            <ul class="pagination pagination-sm" id="pagination">
                <li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                <li class="page-item"><a class="page-link">1</a></li>
                <li class="page-item"><a class="page-link">2</a></li>
                <li class="page-item"><a class="page-link">3</a></li>
                <li class="page-item"><a class="page-link">4</a></li>
                <li class="page-item"><a class="page-link">5</a></li>
                <li class="page-item"><a class="page-link" aria-label="Next"><span aria-hidden="true">»</span></a></li>
            </ul>
        </nav>
        <input id="status" name="status" type="text" value="1">
    </div>
    <% include ../inc/footer %>
</body>

</html>