<!DOCTYPE html>
<html>

<head>
    <% include ../inc/head %>
    <script type="text/javascript">

        var login = function () {
            if($("#username").val() ==""||$("#password").val() ==""){
                swal("회원 정보를 입력해주세요.", {
                    icon: "error"
                })
            }else{
                adminLogin()
            }
        }
        var adminLogin = function(){
            var data = {
                "id" :$("#username").val(),
                "pwd" :$("#password").val(),
            };

            $.ajax({
                url:"/confirm/goConfirm",
                cache:false,
                dataType :"json",
                data : data,
                type:"post",
                cache:false,
                success : function(data,s,j ){
                    if(data.status==200){
                        swal("인증서 발급 성공.", {
                            icon: "success"
                        })
                        location.href = "/"
                    }else{
                        swal("회원 정보가 틀렸습니다.", {
                            icon: "error"
                        })
                    }
                }
            });
        }
    </script>
</head>

<body style="/*height:100%;*/margin:0px 0px 50px 0px;">
<nav class="navbar navbar-dark navbar-expand-md bg-primary">
    <div class="container-fluid"><a class="navbar-brand" href="#">Merchant_client</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="/pos">POS/환급신청</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/merchant">가맹점</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/product">상품정보</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/transaction">거래내역</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/confirm">인증서 받아오기</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin:10px 0px ;">
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">가맹점 인증서 받아오기</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3"><input type="text" id="username" name="username" placeholder="가맹점 아이디 번호" style="width:100%;"></div>
                <div class="col-3"><input type="password" id="password" name="password" placeholder="비밀번호" style="width:100%;"></div>
                <div class="col-6"><a class="btn btn-primary btn-sm" id="btn_login" href="javascript:login();">+ 인증서 받아오기</a></div>

            </div>
        </div>
    </div>
</div>
<% include ../inc/footer %>

</body>

</html>