<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <input type="button" value="page move" onclick="movepage()"/>
    </div>
      <script type="text/javascript">
          function movepage() {
              location.href ="/login";
          }
      </script>

  </body>
</html>
