<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />
</head>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        var err = '<%= err %>'
        if (err=='1'){
            alert('회원 정보 확인');
        } else if(err=='2'){
            alert('로그인 해주세요.');
        }
    });
    function createMember() {
        location.href ="/member/create";
    }
</script>
<body>

<!-- 로그인폼 -->
  <form action="/member/login" method="post">
    아이디 : <input name="user_id" type="text" /><br />
    비밀번호 : <input name="user_pwd" type="password" /><br />
    <input value="로그인" type="submit" />
    <input type="button" value="create member" onclick="createMember()"/>
  </form>

</body>
</html>
