<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
</head>
<script type="text/javascript">
    function memberList() {
        location.href ="/member/member";
    }
    function txList() {
        location.href ="/tax/txoffice";
    }
</script>
<body>

    <% if( user_id ) { %>
    <p>안녕하세요. <%= user_id %>님 <br/>role_type : <%= role_type %></p>
    <a href="/member/logout">로그아웃</a>
    <% } %>
    <br/><br/>
    <input type="button" value="트랜잭션 조회" onclick="txList()"/>
    <input type="button" value="전체 회원 조회" onclick="memberList()"/>


</body>
</html>
