<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="utf-8" />
</head>
<script type="text/javascript">
    function createMember() {
        location.href ="/member/mcreate";
    }
</script>
<body>

<!-- 로그인폼 -->
  <form action="/member/cmember" method="post">
    아이디 : <input name="user_id" type="text" /><br />
    비밀번호 : <input name="user_pwd" type="password" /><br />
    Role : <select name="user_role">
              <option value="Client.customer">손님</option>
              <option value="Client.store">가맹점</option>
              <option value="Client.taxoffice">taxoffice</option>
          </select>
    <br/>
    <input value="submit" type="submit" />
  </form>

</body>
</html>
