<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
</head>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        getList();
    });

    var getList = function(){

        $("#tbl_dataList").empty();
        var data = {

        };
        $.ajax({
            url:"/member/memberList",
            cache:false,
            dataType :"json",
            data : data,
            type:"post",
            cache:false,
            success : function(result1,s,j ){
                var list = result1.result;
                if(list.length ==0){
                    var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                    $("#tbl_dataList").append(tr);
                }else{
                    var itemHTMLAddr = '' ;
                    $.each(list , function(idx,item){


                        itemHTMLAddr = itemHTMLAddr +
                            '<tr style="background-color: rgba(0,0,0,.05)">' +
                            '    <td style="color: #ccc;">'+item.id+'</td>' +
                            '    <td style="color: #ccc;">'+item.type+'</td>'+
                            '    <td style="color: #ccc;">'+item.affiliation+'</td>'+
                            '    <td style="color: #ccc;">'+item.max_enrollments+'</td>'+
                        '</tr>';


                    });
                    $("#tbl_dataList").append(itemHTMLAddr);

                }
            }
        });
    }
</script>
<body>

전체 회원 조회 페이지
<table class="table table-striped">
    <thead>
    <tr>
        <th>id</th>
        <th>type</th>
        <th>affiliation</th>
        <th>max_enrollments</th>
    </tr>
    </thead>
    <tbody id="tbl_dataList">

    </tbody>
</table>
<p>
    id:  등록되어있는 사용자  <br/>
    type:  사용자의 타입 (Client.taxoffice : 택스 오피스, Client.custome : 손님, Client.store : 가맹점) <br/>
    affiliation: Nothing  <br/>
    max_enrollments:  Nothing  <br/>
</p>

<br/>
</body>
</html>
