<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
</head>
<script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        getList();
    });
    function txMake() {
        location.href ="/tax/txMake";
    }
    var getList = function(){

        $("#tbl_dataList").empty();
        var data = {

        };
        $.ajax({
            url:"/tax/txList",
            cache:false,
            dataType :"json",
            data : data,
            type:"post",
            cache:false,
            success : function(result1,s,j ){
                var list = result1.result;
                if(list.length ==0){
                    var tr = $("<tr/>").append($("<td colspan='11'/>").text("등록된 내용이 없습니다.").css("text-align","center"));
                    $("#tbl_dataList").append(tr);
                }else{
                    var itemHTMLAddr = '' ;
                    $.each(list , function(idx,item){


                            itemHTMLAddr = itemHTMLAddr +
                                '<tr style="background-color: rgba(0,0,0,.05)">' +
                                '    <td style="color: #ccc;">'+item.Key+'</td>' +
                                '    <td style="color: #ccc;">'+item.Record.tx_id+'</td>'+
                                '    <td style="color: #ccc;">'+item.Record.client_id+'</td>'+
                                '    <td style="color: #ccc;">'+item.Record.store_id+'</td>'+
                                '    <td style="color: #ccc;">'+item.Record.amount+'</td>'+
                                '    <td style="color: #ccc;">'+item.Record.status+'</td>'+
                                '    <td style="color: #ccc;">'+item.Record.created+'</td>'
                            '</tr>';


                    });
                    $("#tbl_dataList").append(itemHTMLAddr);

                }
            }
        });
    }
</script>
<body>

    트랜잭션 조회 페이지
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>tx_id</th>
            <th>client_id</th>
            <th>store_id</th>
            <th>amount</th>
            <th>status</th>
            <th>created</th>
        </tr>
        </thead>
        <tbody id="tbl_dataList">

        </tbody>
    </table>
    <p>
        key :  원장 내 저장된 트랜잭션 데이터의 Key 값  <br/>
        tx_id :  트랜잭션 작성시 생성되는 고유 id  <br/>
        client_id : login 되어 있는 고객 id   <br/>
        store_id : 환급 대상 물품 판매 가맹점 id   <br/>
        amount : 가맹점에서 사용한 금액    <br/>
        created : 트랜잭션 생성 시간    <br/>
        status :  현재 트랜잭션 승인 상태(0: 구매 체결, 1: 세관의 고객정보 승인)  <br/>
    </p>


    <br/>
    <input type="button" value="트랜잭션 만들기" onclick="txMake()"/>
</body>
</html>
