<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
</head>
<script type="text/javascript">
    function txMake() {
        location.href ="/member/txMake";
    }
</script>
<body>

    <form action="/tax/addtx" method="post">
        아이디 : <input name="user_id" type="text" value="<%= user_id %>"/><br />
        Amount : <input name="amount" type="text" /><br />
        store : <select name="store_id">
            <option value="teruwa">teruwa</option>
        </select><br/>
        <input value="save" type="submit" />
    </form>

</body>
</html>
