<!DOCTYPE html>
<html>
<nav class="navbar navbar-light navbar-expand-md fixed-bottom bg-light" style="height:50px;">
    <div class="container-fluid">Chainrefund BackOffice<button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
                class="collapse navbar-collapse" id="navcol-2">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link text-black-50" href="http://www.chainsearch.info:3004/">Blockchain</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-black-50" href="http://www.chainsearch.info:3000/">System</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-black-50" href="http://www.chainsearch.info:3003/">Customs</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-black-50" href="http://www.chainsearch.info:3001/">Refunder</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-black-50" href="http://www.chainsearch.info:3002/">Merchant</a></li>
            </ul>
        </div>
    </div>
</nav>
</html>