<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="/pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/pages/ico/152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="/pages/css/themes/light.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN VENDOR JS -->
    <script src="/assets/plugins/feather-icons/feather.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS -->
    <script src="/assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery/jquery.form.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/popper/umd/popper.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="/assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="/assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="/assets/plugins/classie/classie.js" type="text/javascript"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="/pages/js/pages.min.js" type="text/javascript"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="/assets/js/scripts_alt.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->
    <script type="text/javascript">
        $(document).ready(function() {
            $(function() {
                $('#price').keyup(function (e){
                    var content = $(this).val();
                    var vat = (content/100)*10
                    $("#vat").val(vat);
                });
                $('#price').keyup();
            });
        });
        var cancle = function () {
            if($("#title").val() !=""||$("#content").val() !="") {
                swal({
                    title: "확인",
                    text: "편집을 취소하시겠습니까?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                }).then((willDelete) =>{
                        if(willDelete) {
                            window.history.back();
                        } else {

                        }
                    }
                );

            } else{
                window.history.back();
            }
        }
        var save = function () {
            var pronm = $("#pronm").val();
            var procd = $("#procd").val();
            var proadcd = $("#proadcd").val();
            var price = $("#price").val();

            if(pronm==""||procd==""||proadcd==""||price==""){
                alert("작성을 완료해주세요")
            }else{
                insertProduct();
            }
        }

        var insertProduct = function(){
            $("#productForm").ajaxForm({
                type: "POST",
                dataType: "json",
                //보내기전 validation check가 필요할경우
                beforeSubmit : function (data, frm, opt) {
                    //alert("전송전!!");
                    return true;
                },
                //submit이후의 처리
                success : function (data, statusText) {
                    if(data.result=="success"){
                        alert("save success");
                        location.href = "/product"
                    }else if (data.result=="200"){
                        alert("err");
                    }
                },
                //ajax error
                error : function () {
                    $(".preloader").hide();
                    swal(
                        '예외발생',
                        '관리자에게 문의하세요',
                        'error');
                }
            });
            $("#productForm").attr("action", "/product/insertProduct");
            $("#productForm").submit();
        }
    </script>
</head>

<body class="fixed-header menu-pin">
    <!-- BEGIN SIDEBAR -->
    <!-- BEGIN SIDEBPANEL-->
    <nav class="page-sidebar" data-pages="sidebar">
        <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
        <div class="sidebar-overlay-slide from-top" id="appMenu">

        </div>
        <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
        <!-- BEGIN SIDEBAR MENU HEADER-->
        <div class="sidebar-header">
            <img src="/assets/img/logo_blue.png" alt="logo" class="brand" data-src="/assets/img/logo_blue.png" data-src-retina="/assets/img/logo_blue_2x.png" width="78" height="22">
        </div>
        <!-- END SIDEBAR MENU HEADER-->
        <!-- START SIDEBAR MENU -->
        <% include ../inc/side %>
        <!-- END SIDEBAR MENU -->
    </nav>
    <!-- END SIDEBAR -->
    <!-- END SIDEBAR -->
    <!-- START PAGE-CONTAINER -->
    <div class="page-container">
        <!-- START PAGE HEADER WRAPPER -->
        <!-- START HEADER -->
        <div class="header ">
            <!-- START MOBILE SIDEBAR TOGGLE -->
            <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu" data-toggle="sidebar">
        </a>
            <!-- END MOBILE SIDEBAR TOGGLE -->
            <div class="">
                <div class="brand inline">
                    <img src="/assets/img/logo.png" alt="logo" data-src="/assets/img/logo.png" data-src-retina="/assets/img/logo_2x.png" width="78" height="22">
                </div>
            </div>
            <div class="d-flex align-items-center">
                <!-- START NOTIFICATION LIST -->

                <!-- END NOTIFICATIONS LIST -->
                <!-- START User Info-->
                <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none m-l-20">
                    <span class="semi-bold">Merchant</span> <span class="text-master">tester</span>
                </div>

                <!-- END User Info-->

            </div>
        </div>
        <!-- END HEADER -->
        <!-- END PAGE HEADER WRAPPER -->
        <!-- START PAGE CONTENT WRAPPER -->
        <div class="page-content-wrapper">
            <!-- START PAGE CONTENT -->
            <div class="content">
                <!-- START JUMBOTRON -->
                <div class="jumbotron" data-pages="parallax">
                    <div class=" container-fluid container-fixed-lg sm-p-l-0 sm-p-r-0">
                        <div class="inner">
                            <!-- START BREADCRUMB -->
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">POS</a></li>
                                <li class="breadcrumb-item active">Layout</li>
                            </ol>
                            <!-- END BREADCRUMB -->
                        </div>
                    </div>
                </div>
                <!-- END JUMBOTRON -->
                <!-- START CONTAINER FLUID -->
                <div class="container-fluid container-fixed-lg">
                    <!-- BEGIN PlACE PAGE CONTENT HERE -->
                    <div class="row">
                        <div class="col-md-2">
                            <h3 class="bold">상품추가</h3>
                        </div>
                        <div class="col-md-8" style="margin-top: 15px">

                        </div>

                    </div>
                    <div class="row">
                        <div class="card card-default">
                            <div class="card-body">
                                <h5>
                                    상품정보 입력
                                </h5>
                                <form  id="productForm" name="noticeForm" action="" method="post" >
                                    <div class="form-group">
                                        <label>물품명</label>
                                        <input id="pronm" name="pronm" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>물품일련번호</label>
                                        <span class="help">e.g. "규칙필요"</span>
                                        <input id="procd" name="procd" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>물품관리코드</label>
                                        <span class="help">e.g. "규칙필요"</span>
                                        <input id="proadcd" name="proadcd" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>단가</label>
                                        <span class="help">e.g. "규칙필요"</span>
                                        <input id="price" name="price" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>부가가치세</label>
                                        <span class="help">e.g. "단가의 10% 자동계산"</span>
                                        <input id="vat" name="vat" type="text" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label>개별소비세</label>
                                        <span class="help">e.g. "기본값 0"</span>
                                        <input id="procon" name="procon" type="text" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>교육세</label>
                                        <span class="help">e.g. "기본값 0"</span>
                                        <input id="proedu" name="proedu" type="text" class="form-control" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label>농특세</label>
                                        <span class="help">e.g. "기본값 0"</span>
                                        <input id="prorular" name="prorular" type="text" class="form-control" disabled>
                                    </div>
                                </form>
                                <a class="btn btn-danger btn-cons" id="btn_save" href="javascript:save();">물품 등록</a>
                                <!--<button class="btn btn-danger btn-cons">물품 등록</button>-->
                            </div>
                        </div>
                    </div>

                    <!-- END PLACE PAGE CONTENT HERE -->
                </div>
                <!-- END CONTAINER FLUID -->
            </div>
            <!-- END PAGE CONTENT -->
            <!-- START FOOTER -->
            <div class="container-fluid container-fixed-lg footer">
                <div class="copyright sm-text-center">
                    <p class="small no-margin pull-left sm-pull-reset">
                        <span class="hint-text">Copyright © 2018</span>
                        <span class="font-montserrat">chainrefund</span>.
                        <span class="hint-text">All rights reserved.</span>

                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- END FOOTER -->
        </div>
        <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!--START QUICKVIEW -->

    <!-- END QUICKVIEW-->
    <!-- START OVERLAY -->

    <!-- END OVERLAY -->

</body>

</html>