        <!-- START SIDEBAR MENU -->
        <div class="sidebar-menu">
            <!-- BEGIN SIDEBAR MENU ITEMS-->
            <ul class="menu-items">
                <li class="m-t-30">
                    <a href="/pos">
                        <span class="title">POS / 환급요청</span>
                    </a>
                </li>
                <li class="">
                    <a href="/merchant">
                        <span class="title">가맹점</span>
                    </a>
                </li>
                <li class="">
                    <a href="/product">
                        <span class="title">상품정보</span>
                    </a>
                </li>
                <li class="">
                    <a href="/transaction">
                        <span class="title">거래내역</span>
                    </a>
                </li>
                <li class="">
                    <a href="/confirm">
                        <span class="title">인증서 받아오기</span>
                    </a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <!-- END SIDEBAR MENU -->

